<a href="https://colab.research.google.com/github/AndreyV80/NetStudy/blob/main/Func_Date_ProjectWork_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Задание 1***
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd
import numpy as np


import os, time
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
movies = pd.read_csv('/content/drive/My Drive/ml-latest-small/movies.csv')        # загуржаем файл с фильмами
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [13]:
ratings = pd.read_csv('/content/drive/My Drive/ml-latest-small/ratings.csv')        # загуржаем файл с рейтингом
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [14]:
ratings_2 = ratings[['movieId', 'rating']]   # создаем новый датафрейм с необходимыми столбцами ('movieId',	'rating')
ratings_2.head()

   movieId  rating
0       31     2.5
1     1029     3.0
2     1061     3.0
3     1129     2.0
4     1172     4.0

In [15]:
movies_ratings = movies.merge(ratings_2, left_on='movieId', right_on='movieId', how='inner') # объединяем файлы
movies_ratings.head()

   movieId  ... rating
0        1  ...    3.0
1        1  ...    4.0
2        1  ...    5.0
3        1  ...    2.0
4        1  ...    3.0

[5 rows x 4 columns]

In [16]:
movies_ratings_2 = movies_ratings.groupby('title').agg({'rating' : 'mean'}).round(1).reset_index() #новый датафрейм с группировкой по наименованию и средним баллом (округление до 1 знака после запятой)

In [17]:
movies_ratings_2.head(10) #проверяем

                                     title  rating
0         "Great Performances" Cats (1998)     1.8
1                             $9.99 (2008)     3.8
2  'Hellboy': The Seeds of Creation (2004)     2.0
3          'Neath the Arizona Skies (1934)     0.5
4                   'Round Midnight (1986)     2.2
5                      'Salem's Lot (2004)     3.5
6                'Til There Was You (1997)     2.6
7                       'burbs, The (1989)     3.1
8                     'night Mother (1986)     5.0
9              (500) Days of Summer (2009)     3.8

оценка 2 и меньше - низкий рейтинг
оценка 4 и меньше - средний рейтинг
оценка 4.5 и 5 - высокий рейтинг

In [18]:
def class_ (param):                               # функция для подстановки классификации рейтинга
    r1 = 'низкий рейтинг'
    r2 = 'средний рейтинг'
    r3 = 'высокий рейтинг'
    r4 = 'не определен'
    if param <= 2.0:
        return r1
    elif param <= 4.0 and param > 2.0:
        return r2
    elif param >= 4.5:
        return r3
    else:
        return r4

In [19]:
movies_ratings_2['class'] = movies_ratings_2['rating'].apply(class_) # создаем вычисляемый столбец 'class' в датафрейме 'movies_ratings_2'

In [20]:
movies_ratings_2.head(10) #проверяем

                                     title  rating            class
0         "Great Performances" Cats (1998)     1.8   низкий рейтинг
1                             $9.99 (2008)     3.8  средний рейтинг
2  'Hellboy': The Seeds of Creation (2004)     2.0   низкий рейтинг
3          'Neath the Arizona Skies (1934)     0.5   низкий рейтинг
4                   'Round Midnight (1986)     2.2  средний рейтинг
5                      'Salem's Lot (2004)     3.5  средний рейтинг
6                'Til There Was You (1997)     2.6  средний рейтинг
7                       'burbs, The (1989)     3.1  средний рейтинг
8                     'night Mother (1986)     5.0  высокий рейтинг
9              (500) Days of Summer (2009)     3.8  средний рейтинг

**Задание 2**
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

**geo_data**= {
1 'Центр': ['москва', 'тула', 'ярославль'],
2 "   <пусто>      "
3 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
4 "     <пусто>      "
5'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}
Результат классификации запишите в отдельный столбец **region**.

In [3]:
geo_data = { 'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'], 'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [5]:
def region (param):                    
    i = 'undefined'
    for k, v in geo_data.items():
        if param in v:
            return k
            
    return i

In [6]:
keywords = pd.read_csv('/content/drive/My Drive/ml-latest-small/keywords.csv') 
keywords.head(1)

  keyword     shows
0      вк  64292779

In [7]:
keywords['region'] = keywords['keyword'].apply(region) #  формируем новый столбец со значениями по результатам выполнения функции 'region'

In [10]:
keywords[(keywords['keyword'] == 'псков')]         # выборочная проверка

      keyword  shows        region
11222   псков  24885  Северо-Запад

In [11]:
keywords[(keywords['region'] == 'undefined')].head(10) # выборочная проверка

                      keyword     shows     region
0                          вк  64292779  undefined
1               одноклассники  63810309  undefined
2                       порно  41747114  undefined
3                        ютуб  39995567  undefined
4                   вконтакте  21014195  undefined
5  одноклассники моя страница  19976138  undefined
6                        майл  15144673  undefined
7                       авито  14786593  undefined
8                  переводчик  14453469  undefined
9                      яндекс  13344734  undefined