<a href="https://colab.research.google.com/github/AndreyV80/NetStudy/blob/main/Horse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np


import os, time
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
headers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]

In [3]:
headers2 = [
   'operation','age','NumHospital','rectal_temp','pulse' ,'resp_rate',
   'limb_temp','periph_pulse','mucous_memb',
   'capil_fil_time','pain','peristalsis','bloating','nasogastric_tube',
  'nasogastric_reflux','nasogastric_reflux_PH', 'rectal_examination', 'belly',
   'VPC','total_protein','AAC','TAP',
   'result','surgical_lesion','place_defeat','type_lesion','subtype_lesion','defeat_code','cp_data'
]

In [4]:
horse = pd.read_csv('/content/drive/My Drive/horse_data.csv', sep = ',', names=headers2)

In [5]:
horse.head(1)

  operation  age  NumHospital  ... subtype_lesion defeat_code cp_data
0         2    1       530101  ...              0           2     NaN

[1 rows x 29 columns]

**Задание 1. Загрузка данных**
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [6]:
horse2 = horse[['operation', 'age', 'rectal_temp', 'pulse','resp_rate', 'limb_temp', 'pain', 'result']]

In [ ]:
horse2.head(2)

  operation  age rectal_temp pulse resp_rate limb_temp pain result
0         2    1       38.50    66        28         3    5      2
1         1    1        39.2    88        20         ?    3      3

**Задание 2. Первичное изучение данных¶**
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Копируем данные

In [7]:
horse3 = horse2.copy()
#horse3['rectal_temp'] = horse3['rectal_temp'].replace(['?'], horse3['rectal_temp'].median())
#df['BrandName'] = df['BrandName'].replace(['ABC', 'AB'], 'A')
# .replace(horse3'rectal_temp'
# df['Company Size'].replace({'-': None},inplace =True)

In [ ]:
Проверяем

In [8]:
horse3.head(1)

  operation  age rectal_temp pulse resp_rate limb_temp pain result
0         2    1       38.50    66        28         3    5      2

Заменяем "?" на медиану по столбцу (переводим в числоввой тип). Выбор пал столбцы, которые отражают тем или иным обюразом числовые значения: температуры, пульс, частота пульса и болевые (посчитал допустимым)

In [38]:
horse3['rectal_temp'] = horse3['rectal_temp'].replace('?', 0).astype(int)
horse3['rectal_temp'] = horse3['rectal_temp'].replace(0, horse3['rectal_temp'].median()) #horse3['rectal_temp'].median())

In [29]:
horse3['pulse'] = horse3['pulse'].replace('?', 0)
horse3['pulse'] = horse3['pulse'].replace(0, horse3['pulse'].median()).astype(int) #horse3['rectal_temp'].median())

In [30]:
horse3['resp_rate'] = horse3['resp_rate'].replace('?', 0)
horse3['resp_rate'] = horse3['resp_rate'].replace(0, horse3['resp_rate'].median()).astype(int) #horse3['rectal_temp'].median())

In [31]:
horse3['limb_temp'] = horse3['limb_temp'].replace('?', 0)
horse3['limb_temp'] = horse3['limb_temp'].replace(0, horse3['limb_temp'].median()).astype(int) #horse3['rectal_temp'].median())

In [32]:
horse3['pain'] = horse3['pain'].replace('?', 0)
horse3['pain'] = horse3['pain'].replace(0, horse3['pain'].median()).astype(int) #horse3['rectal_temp'].median())

In [ ]:
horse3['rectal_temp']= horse3['rectal_temp'].astype(float)   # данную температуру перевел во float, поскольку здесь были непосредственно измерения, а не категории
horse3['result']= horse3['result'].replace('?', 'Not submitted') # результаты: не знаю как заменить отсутствующие данные

In [41]:
horse3.head(2)

  operation  age  rectal_temp  pulse  resp_rate  limb_temp  pain result
0         2    1           38     66         28          3     5      2
1         1    1           39     88         20          2     3      3

In [42]:
horse3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   operation    300 non-null    object
 1   age          300 non-null    int64
 2   rectal_temp  300 non-null    int64
 3   pulse        300 non-null    int64
 4   resp_rate    300 non-null    int64
 5   limb_temp    300 non-null    int64
 6   pain         300 non-null    int64
 7   result       300 non-null    object
dtypes: int64(6), object(2)
memory usage: 18.9+ KB

In [43]:
horse3.describe()

              age  rectal_temp       pulse   resp_rate   limb_temp        pain
count  300.000000   300.000000  300.000000  300.000000  300.000000  300.000000
mean     1.640000    37.810000   70.960000   28.790000    2.283333    2.776667
std      2.173972     0.689554   27.647659   16.185151    0.951880    1.237698
min      1.000000    35.000000   30.000000    8.000000    1.000000    1.000000
25%      1.000000    37.000000   48.000000   20.000000    1.000000    2.000000
50%      1.000000    38.000000   60.000000   22.000000    2.000000    2.000000
75%      1.000000    38.000000   88.000000   34.250000    3.000000    4.000000
max      9.000000    40.000000  184.000000   96.000000    4.000000    5.000000

Судя по-всему данные по лошадям 9-летнего возраста будут излишними

In [50]:
horse3[horse3['age']== 9]

    operation  age  rectal_temp  pulse  resp_rate  limb_temp  pain result
3           1    9           39    164         84          4     2      2
9           2    9           38     90         22          1     5      1
13          2    9           38     92         28          1     1      2
16          1    9           38    128         36          3     4      2
23          1    9           38    130         60          2     2      1
39          1    9           39    146         96          2     2      2
41          2    9           39    150         72          2     2      1
55          1    9           38    160         20          3     3      2
74          1    9           38     60         22          2     2      2
75          1    9           39    100         22          3     2      3
82          1    9           38    100         80          3     3      1
103         1    9           38    140         68          1     3      1
109         1    9           38     84         40          3     3      2
135         1    9           38    136         48          3     5      2
191         2    9           38    100         44          2     4      1
212         1    9           38    120         30          1     3      1
227         1    9           38     60         22          2     2      1
229         1    9           38    120         70          2     2      1
244         1    9           38    124         88          1     2      1
252         1    9           38    124         36          3     2      2
255         1    9           38    184         84          1     4      2
262         2    9           38     88         28          2     2      1
275         1    9           38    150         50          1     5      2
287         2    9           39     84         30          2     2      1