<a href="https://colab.research.google.com/github/AndreyV80/NetStudy/blob/main/%D0%9A%D0%BE%D0%BF%D0%B8%D1%8F_%D0%B1%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82%D0%B0_%22Horse%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd
import numpy as np


import os, time
from google.colab import drive

In [46]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
headers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]

In [47]:
headers2 = [
   'operation','age','NumHospital','rectal_temp','pulse' ,'resp_rate',
   'limb_temp','periph_pulse','mucous_memb',
   'capil_fil_time','pain','peristalsis','bloating','nasogastric_tube',
  'nasogastric_reflux','nasogastric_reflux_PH', 'rectal_examination', 'belly',
   'VPC','total_protein','AAC','TAP',
   'result','surgical_lesion','place_defeat','type_lesion','subtype_lesion','defeat_code','cp_data'
]

Загрузка данных

In [48]:
horse = pd.read_csv('/content/drive/My Drive/horse_data.csv', sep = ',', names=headers2, na_values='?') # na_values='?' - заменяем пропуски на NaN

In [ ]:
horse.query('age == 2')

Empty DataFrame
Columns: [operation, age, NumHospital, rectal_temp, pulse, resp_rate, limb_temp, periph_pulse, mucous_memb, capil_fil_time, pain, peristalsis, bloating, nasogastric_tube, nasogastric_reflux, nasogastric_reflux_PH, rectal_examination, belly, VPC, total_protein, AAC, TAP, result, surgical_lesion, place_defeat, type_lesion, subtype_lesion, defeat_code, cp_data]
Index: []

In [ ]:
horse.info()

**Задание 1. Загрузка данных**
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [49]:
horse2 = horse[['operation', 'age', 'rectal_temp', 'pulse','resp_rate', 'limb_temp', 'pain', 'result']]

In [ ]:
horse2.head(30)

In [ ]:
horse2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   operation    299 non-null    float64
 1   age          300 non-null    int64
 2   rectal_temp  240 non-null    float64
 3   pulse        276 non-null    float64
 4   resp_rate    242 non-null    float64
 5   limb_temp    244 non-null    float64
 6   pain         245 non-null    float64
 7   result       299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

**Задание 2. Первичное изучение данных¶**
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

Копируем данные

In [50]:
horse3 = horse2.copy()
horse4 = horse2.copy()

In [7]:
horse3.describe()

        operation         age  rectal_temp  ...   limb_temp       pain      result
count  299.000000  300.000000   240.000000  ...  244.000000  245.00000  299.000000
mean     1.397993    1.640000    38.167917  ...    2.348361    2.95102    1.551839
std      0.490305    2.173972     0.732289  ...    1.045054    1.30794    0.737187
min      1.000000    1.000000    35.400000  ...    1.000000    1.00000    1.000000
25%      1.000000    1.000000    37.800000  ...    1.000000    2.00000    1.000000
50%      1.000000    1.000000    38.200000  ...    3.000000    3.00000    1.000000
75%      2.000000    1.000000    38.500000  ...    3.000000    4.00000    2.000000
max      2.000000    9.000000    40.800000  ...    4.000000    5.00000    3.000000

[8 rows x 8 columns]

Предположим, что лошади age = 9 - это молодые, осуществим замену

In [51]:

horse3.loc[horse3.age == 9, 'age'] = 2

In [52]:
horse3.describe()

        operation         age  rectal_temp  ...   limb_temp       pain      result
count  299.000000  300.000000   240.000000  ...  244.000000  245.00000  299.000000
mean     1.397993    1.080000    38.167917  ...    2.348361    2.95102    1.551839
std      0.490305    0.271746     0.732289  ...    1.045054    1.30794    0.737187
min      1.000000    1.000000    35.400000  ...    1.000000    1.00000    1.000000
25%      1.000000    1.000000    37.800000  ...    1.000000    2.00000    1.000000
50%      1.000000    1.000000    38.200000  ...    3.000000    3.00000    1.000000
75%      2.000000    1.000000    38.500000  ...    3.000000    4.00000    2.000000
max      2.000000    2.000000    40.800000  ...    4.000000    5.00000    3.000000

[8 rows x 8 columns]

In [11]:
horse3.loc[(horse3['operation'] != 1) & (horse3['operation'] != 2)]

     operation  age  rectal_temp  pulse  resp_rate  limb_temp  pain  result
132        NaN    1         38.0   48.0       20.0        3.0   4.0     NaN

в столбце 'operation' есть значение NaN заменим его на 1 ( операция), поскольку по данным у лошади наблюдаются периодические сильные боли, пульс и частота дыхания повышены, холодные конечности, предположительно потребуется операция

In [53]:
horse3.fillna({'operation': 1},inplace=True)

In [54]:
horse3.describe()

        operation         age  rectal_temp  ...   limb_temp       pain      result
count  300.000000  300.000000   240.000000  ...  244.000000  245.00000  299.000000
mean     1.396667    1.080000    38.167917  ...    2.348361    2.95102    1.551839
std      0.490023    0.271746     0.732289  ...    1.045054    1.30794    0.737187
min      1.000000    1.000000    35.400000  ...    1.000000    1.00000    1.000000
25%      1.000000    1.000000    37.800000  ...    1.000000    2.00000    1.000000
50%      1.000000    1.000000    38.200000  ...    3.000000    3.00000    1.000000
75%      2.000000    1.000000    38.500000  ...    3.000000    4.00000    2.000000
max      2.000000    2.000000    40.800000  ...    4.000000    5.00000    3.000000

[8 rows x 8 columns]

разделим датасет на 2 (с операцией и без)

In [55]:
horse3_no_oper = horse3.query('operation == 2')   # без операции
horse3_no_oper.describe()
horse3_no_oper2 = horse3_no_oper.copy() # это рабочая копия

среднее значения по столбцам

In [95]:
pulse = horse3_no_oper2['pulse'].mean()
rate = horse3_no_oper2['resp_rate'].mean()
pain = horse3_no_oper2['pain'].mean()

In [35]:
rate

26.1340206185567

In [56]:
horse3_no_oper2['pulse'].fillna(pulse, inplace=True)  # преобразуем NaN в средний значение пульса

Преобразуем NaN в средний значение частоты дыхание, поскольку полезность данного показателя, согласно пояснениям, сомнительна

In [100]:
horse3_no_oper2['resp_rate'].fillna(rate, inplace=True) 
horse3_no_oper2['pain'].fillna(pain, inplace=True)

In [98]:
horse3_no_oper2.describe()

       operation         age  rectal_temp  ...   limb_temp        pain      result
count      119.0  119.000000     99.00000  ...  119.000000  119.000000  119.000000
mean         2.0    1.050420     38.20404  ...    2.176471    2.455446    1.445378
std          0.0    0.219736      0.76036  ...    0.926512    1.153659    0.732970
min          2.0    1.000000     36.00000  ...    1.000000    1.000000    1.000000
25%          2.0    1.000000     37.80000  ...    1.000000    2.000000    1.000000
50%          2.0    1.000000     38.20000  ...    2.000000    2.455446    1.000000
75%          2.0    1.000000     38.60000  ...    3.000000    3.000000    2.000000
max          2.0    2.000000     40.30000  ...    4.000000    5.000000    3.000000

[8 rows x 8 columns]

Предположим, что температура у лошадей взаимосвязана со значение пульса. Рассмотрим

In [59]:
horse3_no_oper2[horse3_no_oper2['pulse'] >= 40].mean()

operation       2.000000
age             1.050847
rectal_temp    38.214286
pulse          65.754543
resp_rate      26.279224
limb_temp       2.215686
pain            2.460000
result          1.449153
dtype: float64

In [60]:
horse3_no_oper2[horse3_no_oper2['pulse'] < 40].mean()

operation       2.0
age             1.0
rectal_temp    37.2
pulse          36.0
resp_rate       9.0
limb_temp       1.0
pain            2.0
result          1.0
dtype: float64

Заменим NaN на среднее значения, исходя из частоты пульса

In [108]:
for k, t in horse3_no_oper2[horse3_no_oper2['pulse'] >= 40].mean().items():
    if k == 'limb_temp':
        limb_temp_mean = int(t)
    elif k == 'rectal_temp':
        rectal_temp_mean = int(t)
    horse3_no_oper2['limb_temp'].fillna(limb_temp_mean, inplace=True)
    horse3_no_oper2['rectal_temp'].fillna(rectal_temp_mean, inplace=True)

In [109]:
for k2, t2 in horse3_no_oper2[horse3_no_oper2['pulse'] < 40].mean().items():
    if k2 == 'limb_temp':
        limb_temp_mean = int(t2)
    elif k == 'rectal_temp':
        rectal_temp_mean = int(t2)
        #rint(t2)
    #     limb_temp = int(t2)
    horse3_no_oper2['limb_temp'].fillna(t2, inplace=True)
    horse3_no_oper2['rectal_temp'].fillna(rectal_temp_mean, inplace=True)

In [110]:
horse3_no_oper2.describe()

       operation         age  rectal_temp  ...   limb_temp        pain      result
count      119.0  119.000000   119.000000  ...  119.000000  119.000000  119.000000
mean         2.0    1.050420    38.169748  ...    2.176471    2.455446    1.445378
std          0.0    0.219736     0.697156  ...    0.926512    1.153659    0.732970
min          2.0    1.000000    36.000000  ...    1.000000    1.000000    1.000000
25%          2.0    1.000000    37.900000  ...    1.000000    2.000000    1.000000
50%          2.0    1.000000    38.000000  ...    2.000000    2.455446    1.000000
75%          2.0    1.000000    38.500000  ...    3.000000    3.000000    2.000000
max          2.0    2.000000    40.300000  ...    4.000000    5.000000    3.000000

[8 rows x 8 columns]

Проведем те же операции

In [ ]:
horse3_oper = horse3.query('operation == 1') # с операцией
horse3_oper.describe()

In [113]:
pulse2 = horse3_oper['pulse'].mean()
rate2 = horse3_oper['resp_rate'].mean()
pain2 = horse3_oper['pain'].mean()

In [ ]:
horse3_oper['pulse'].fillna(pulse2, inplace=True)  # преобразуем NaN в средний значение пульса

In [ ]:
horse3_oper['resp_rate'].fillna(rate2, inplace=True) 
horse3_oper['pain'].fillna(pain2, inplace=True) 
horse3_oper['result'].fillna(horse3_oper['result'].mean(), inplace=True)

In [ ]:
for k, t in horse3_oper[horse3_oper['pulse'] >= 40].mean().items():
    if k == 'limb_temp':
        limb_temp_mean = int(t)
    elif k == 'rectal_temp':
        rectal_temp_mean = int(t)
    horse3_oper['limb_temp'].fillna(limb_temp_mean, inplace=True)
    horse3_oper['rectal_temp'].fillna(rectal_temp_mean, inplace=True)

In [ ]:
for k2, t2 in horse3_oper[horse3_oper['pulse'] < 40].mean().items():
    if k2 == 'limb_temp':
        limb_temp_mean = int(t2)
    elif k == 'rectal_temp':
        rectal_temp_mean = int(t2)
        #rint(t2)
    #     limb_temp = int(t2)
    horse3_oper['limb_temp'].fillna(t2, inplace=True)
    horse3_oper['rectal_temp'].fillna(rectal_temp_mean, inplace=True)

In [122]:
horse3_oper.describe()

       operation         age  rectal_temp  ...   limb_temp        pain      result
count      181.0  181.000000   181.000000  ...  181.000000  181.000000  181.000000
mean         1.0    1.099448    38.111050  ...    2.132597    3.298611    1.622222
std          0.0    0.300092     0.632095  ...    1.122541    1.100908    0.731479
min          1.0    1.000000    35.400000  ...    1.000000    1.000000    1.000000
25%          1.0    1.000000    37.900000  ...    1.000000    3.000000    1.000000
50%          1.0    1.000000    38.000000  ...    2.000000    3.298611    1.000000
75%          1.0    1.000000    38.400000  ...    3.000000    4.000000    2.000000
max          1.0    2.000000    40.800000  ...    4.000000    5.000000    3.000000

[8 rows x 8 columns]

Объединим датафреймы

In [128]:
horse_new = pd.concat([horse3_oper, horse3_no_oper2])

In [132]:
horse_new.head()

    operation  age  rectal_temp  pulse  resp_rate  limb_temp      pain  result
1         1.0    1         39.2   88.0  20.000000        1.0  3.000000     3.0
3         1.0    2         39.1  164.0  84.000000        4.0  2.000000     2.0
6         1.0    1         37.9   48.0  16.000000        1.0  3.000000     1.0
7         1.0    1         38.0   60.0  33.282759        3.0  3.298611     2.0
10        1.0    1         38.1   66.0  12.000000        3.0  3.000000     1.0

In [133]:
horse_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 1 to 296
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   operation    300 non-null    float64
 1   age          300 non-null    int64
 2   rectal_temp  300 non-null    float64
 3   pulse        300 non-null    float64
 4   resp_rate    300 non-null    float64
 5   limb_temp    300 non-null    float64
 6   pain         300 non-null    float64
 7   result       300 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 21.1 KB

In [131]:
horse_new.describe()

        operation         age  rectal_temp  ...   limb_temp        pain      result
count  300.000000  300.000000   300.000000  ...  300.000000  300.000000  300.000000
mean     1.396667    1.080000    38.134333  ...    2.150000    2.964155    1.552074
std      0.490023    0.271746     0.658153  ...    1.047772    1.193981    0.735964
min      1.000000    1.000000    35.400000  ...    1.000000    1.000000    1.000000
25%      1.000000    1.000000    37.900000  ...    1.000000    2.000000    1.000000
50%      1.000000    1.000000    38.000000  ...    2.000000    3.000000    1.000000
75%      2.000000    1.000000    38.500000  ...    3.000000    4.000000    2.000000
max      2.000000    2.000000    40.800000  ...    4.000000    5.000000    3.000000

[8 rows x 8 columns]